/* statr anv */
#header-nav {
  background-color: #3e3c3c;
}

/* end nav */

#main-bg-img {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: top 5% right -10%;
}

main {
  background-color: #1c1a19;
}
